.peng-table {
    padding-left: 620px;
}

.peng-table td {
    padding: 5px 20px 5px 20px ;
}

.peng-table th {
    border-bottom: 2px solid darkslategray
}

.peng-table tr {
    // border-bottom: 2px solid darkslategray
}

//border-bottom: 2px solid #8ebf42;